In [1]:
import numpy as np
import pandas as pd

In [7]:
df=pd.read_csv('spam.csv',encoding='latin-1')
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [9]:
df.shape

(5572, 5)

## 1.Data Cleaning

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [11]:
df.drop(columns=['Unnamed: 2','Unnamed: 3','Unnamed: 4'])

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [12]:
df.shape

(5572, 5)

In [13]:
df.drop(columns=['Unnamed: 2','Unnamed: 3','Unnamed: 4'],inplace=True)

In [14]:
df.shape

(5572, 2)

In [15]:
df.rename(columns={'v1':'target','v2':'text'},inplace=True)

In [17]:
df.sample(7)

     target                                               text
2225    ham  Alrite jod hows the revision goin? Keris bin d...
5475    ham  Dhoni have luck to win some big title.so we wi...
3794    ham      Also remember the beads don't come off. Ever.
3136    ham      You're right I have now that I think about it
705     ham  I don't think I can get away for a trek that l...
1462   spam  09066362231 URGENT! Your mobile No 07xxxxxxxxx...
3331    ham  Ok... The theory test? when are Ì_ going to bo...

In [18]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()

ModuleNotFoundError: No module named 'sklearn'

In [19]:
pip3 install -U scikit-learn

SyntaxError: invalid syntax (782659697.py, line 1)

In [20]:
pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.3.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (10.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.9/10.9 MB 142.2 kB/s eta 0:00:00m eta 0:00:01[36m0:00:03
Requirement already satisfied: numpy>=1.17.3 in /home/littleboy/Documents/venvforpython/lib/python3.11/site-packages (from scikit-learn) (1.25.0)
Collecting scipy>=1.5.0 (from scikit-learn)
  Downloading scipy-1.11.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (36.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 36.2/36.2 MB 67.7 kB/s eta 0:00:00m eta 0:00:01[36m0:00:07
Collecting joblib>=1.1.1 (from scikit-learn)
  Downloading joblib-1.3.1-py3-none-any.whl (301 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 302.0/302.0 kB 456.6 kB/s eta 0:00:00[36m0:00:01[36m0:00:01:01
Collecting threadpoolctl>=2.0.0 (from scikit-learn)
  Downloading threadpoolctl-3.2.0-py3-none-any.whl (15 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.3.1 scikit-learn-1.3.0 scipy-1.11.1 threadpoolctl-3.2.0
Note: you may need to restart the kernel to use updated packages.

In [21]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()

In [22]:
encoder.fit_transform(df['target'])

array([0, 0, 1, ..., 0, 0, 0])